.form {
    width: 600px;
    padding: 20px;
    font-family: sans-serif;
    background-color: rgb(184, 20, 28);
    color: black;
    margin: 0 auto;
    display: block;
}

form {
    margin: 0 auto;
}

.h31 {
    text-align: center;
    font-family: sans-serif;
    color: antiquewhite;
}

.btnCrear {
    margin: 0 auto;
    display: block;

}