<br>
<br>

<div class="form">
    <h3 class="h31">Crea Un Nuevo Cliente</h3>
    <form class="g-3">
        <div class="col-md-6">
            <label class="form-label">Nit Cliente:</label>
            <input type="number" class="form-control" id="nitCliente" min="1">
        </div>
        <div class="col-md-6">
            <label class="form-label">Nombre:</label>
            <input type="number" class="form-control" id="nombre" min="1">
        </div>
        <div class="col-12">
            <button type="submit" class="btnRegistrar">Crear</button>
        </div>
    </form>
</div>