<br>
<br>

<div class="form">
    <h3 class="h31">Ingresa El Paquete Al Sistema</h3>
    <form class="g-3">
        <div class="col-md-6">
            <label class="form-label">Paquete: idPaquete</label>
        </div>
        <div class="col-md-6">
            <label class="form-label1">Nit Cliente:</label>
            <input type="number" class="form-control" id="nitCliente" min="1">
        </div>
        <div class="col-md-6">
            <label class="form-label1">Destino:</label>
            <input type="number" class="form-control" id="idDestino" min="1">
        </div>
        <div class="col-md-6">
            <label class="form-label1">Peso (en lbs):</label>
            <input type="number" class="form-control" id="idLibras" min="1">
        </div>
        <div class="col-12">
            <button type="submit" class="btnIngresar">Ingresar Paquete</button>
        </div>
    </form>
</div>