<br>
<br>

<div class="form">
    <h3 class="h31">Procesa Paquetes En Tus Puntos De Control</h3>
    <form class="g-3" (submit)="onSubmit()">
        <div class="col-md-6">
            <label class="form-label">Paquete:</label>
            <input type="number" class="form-control" id="idPaquete" min="1" name="idPaquete" [(ngModel)]="formData.idPaquete" required>
        </div>
        <div class="col-md-6">
            <label class="form-label1">Tiempo (en horas):</label>
            <input type="number" class="form-control" id="tiempo" min="1" name="tiempo" [(ngModel)]="formData.tiempo" required>
        </div>
        <div class="col-12">
            <button (click)="operarPaquete()" type="submit" class="btnRegistrar">Procesar</button>
        </div>
    </form>
</div>