<br>
<br>

<div class="form">
    <h3 class="h31">Registra El Retiro De Paquete</h3>
    <form class="g-3" (submit)="onSubmit()">
        <div class="col-md-6">
            <label class="form-label">Paquete:</label>
            <input type="number" class="form-control" id="idPaquete" min="1" name="idPaquete" [(ngModel)]="formData.idPaquete" required>
        </div>
        <div class="col-md-6">
            <label class="form-label">Fecha:</label>
            <input type="date" class="form-control" id="fecha" value="2024-04-18" name="fecha" [(ngModel)]="formData.fecha" required>
        </div>
        <br>
        <div class="col-12">
            <button (click)="retirarPaquete()" type="submit" class="btnRegistrar">Registrar</button>
        </div>
    </form>
</div>