<br>
<br>

<div class="form">
    <h3 class="h31">Crea Una Ruta</h3>
    <form class="g-3">
        <div class="col-md-6">
            <label class="form-label">Ruta: idRuta</label>        
        </div>
        <div class="col-md-6">
            <label class="form-label1">Destino De La Ruta:</label>
            <input type="number" class="form-control" id="idDestino" min="1">
        </div>      
        <div class="col-12">
            <button type="submit" class="btnCrear">Crear Ruta</button>
        </div>
    </form>
</div>
