<br>
<br>

<div class="form">
    <h3 class="h31">Desactiva Una Ruta</h3>
    <form class="g-3" id="form" (submit)="onSubmit()">
        <div class="col-md-6">
            <label class="form-label">Ruta:</label>
            <input type="number" class="form-control" id="idRuta" min="1" name="idRuta" [(ngModel)]="formData.idRuta" required>
        </div>
        <div class="col-12">
            <button (click)="desactivarRuta()" type="submit" class="btnDesactivar">Desactivar</button>
        </div>
    </form>
</div>