<br>
<br>

<div class="form">
    <h3 class="h31">Genera La Factura Del Envío</h3>
    <form class="g-3">
        <div class="col-md-6">
            <label class="form-label">Nit Cliente:</label>
            <input type="number" class="form-control" id="nitCliente" min="1">
        </div>
        <div class="col-md-6">
            <label class="form-label">Paquete:</label>
            <input type="number" class="form-control" id="idPaquete" min="1">
        </div>
        <div class="col-md-6">
            <label class="form-label">Fecha:</label>
            <input type="date" class="form-control" id="idPaquete" min="1">
        </div>
        <div class="col-12">
            <button type="submit" class="btnGenerar">Generar Factura</button>
        </div>
    </form>
</div>